.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1d1d1d;
}

.logo-loader {
  width: 100px;
  height: 100px;
  animation: flip 2s infinite;
  transform-style: preserve-3d;
}

@keyframes flip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg); /* Rotación a la mitad del ciclo */
  }
  100% {
    transform: rotateY(360deg); /* Rotación completa */
  }
}
